:root {
  --main-color: #070707;
  --border-color: rgb(224, 220, 220);
  --navigation-color: #2681e9;
  font: 800 14px "Merriweather", sans-serif;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  animation: modal-show 0.5s 1 forwards;
}

.modal-content {
  position: relative;
  width: 480px;
  height: 180px;
  padding: 24px;
  background-color: white;
}

.modal:target {
  display: flex;
}

.modal-show, .modal-icons {
  display: inline-block;
  padding: 15px 25px;
  background-color: rgb(255, 253, 253);
  color: var(--navigation-color);
  text-decoration: none;
  border: 1px solid var(--navigation-color);
  border-radius: 30px;
}

.modal-hide {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 0;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  font-size: 20px;
  text-align: center;
  color: var(--border-color);
  text-decoration: none;
}

#tw-logo-container {
  display: flex;
}

@keyframes modal-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#modal-tweet {
  height: 100%;
  display: flex;
}

.tweet-text {
  width: 350px;
  border-color: transparent;
  margin-left: 20px;
  padding-top: 20px;
}

.modal-icons {
  height: fit-content;
  margin-left: 20px;
}

.icons {
  align-items: flex-end;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}

.far, .fas {
  color: var(--navigation-color);
  font-size: 20px;
  margin-left: 10px;
}

.sent-tweet-btn {
  text-decoration: none;
  color: var(--navigation-color);
}